<link rel="stylesheet" href="/css/user_signin.css">

<!-- <h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">
</form> -->

<div class="log-form">
    <h2>Signin to your account</h2>
    <form action="/users/create-session" method="POST">
        <input type="email" title="username" name="email" placeholder="Email" required />
        <input type="password" title="Password" name="password" placeholder="password" required />
        <button type="submit" class="btn">Sign in</button>
    </form>
    <p style="padding-left: 20px;">
        <a href="/users/auth/google">Sign in with Google </a>
    </p>
</div>

<!-- <p>
    <a href="/users/auth/google">Google </a>
</p> -->